@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Funnel Display", sans-serif;
    text-decoration: none;
}
:root{
    --padding: 1%;
    --gap: 1rem;
    --gap-2: 1%;

    --text-1: 50px;
    --text-2: 15px;
    --text-3: 12px;
    --text-4: 30px;
    --weight: 500;

    --transition: all .6s ease;

    --background-color: #686279;
    --section-color: #2c2638;
    --inputs-color: #3c364c;
    --main-color: #6d54b5;
    --link-color: #ae99eb;
    --text-color: #fff;
    --text-color-2: #818181;
    --text-red: red;
}
.input-style{
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
    border: none;
    font-size: var(--text-2);
    color: var(--text-color);

    background-color: var(--inputs-color);
}
.input-style::placeholder{
    color: var(--text-color-2);
}
.input-style:focus{
    outline: 1px solid var(--link-color);
}
button{
    font-weight: 500;
    color: var(--text-color);
    transition: var(--transition);
}
button:hover{
    background-color: #cccccc28;
    cursor: pointer;
}
/* ===================== general ===================== */

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
section{
    width: 68%;
    aspect-ratio: 1/.62;
    padding: var(--padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    'aside main';
    border-radius: 15px;
    background-color: var(--section-color);
}
aside{
    width: 100%;
    height: 100%;
    grid-area: aside;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
#github{
    position: absolute;
    top: 2%;
    left: 82%;
    width: fit-content;
    padding: .3rem .8rem;
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: center;
    z-index: 5;
    border-radius: .9rem;
    background-color: #636363ab;
    outline: 1px solid var(--inputs-color);
}
#github > i{
    font-size: 20px;
    color: var(--text-color);
}
#github > span{
    color: var(--text-color);
    font-size: var(--text-2);
}
#card{
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: end;
    transition: background-color 1s ease, opacity 1s ease;
}
#card::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
#card > h2{
    max-width: 60%;
    width: 60%;
    text-align: center;
    margin-bottom: 10%;
    font-size: var(--text-4);
    font-weight: var(--weight);
    transform: translateY(10px);
    z-index: 1;
    color: var(--text-color);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
#card > span{
    width: 8rem;
    height: 3px;
    border-radius: 2px;
    z-index: 1;
    background-color: var(--text-color);
}
/* ========================================= aside ========================================= */
main{
    width: 100%;
    height: 100%;
    padding: 10% 14%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    grid-area: main;
}
h1{
    font-size: var(--text-1);
    font-weight: 400;
    color: var(--text-color);
}
main > span{
    margin: 6% 0;
    color: var(--text-color-2);
    font-size: var(--text-3);
}
main > span > a{
    color: var(--link-color);
}
form{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
label{
    flex: 1;
    display: flex;
}
form > div{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: var(--gap);
}
form > button{
    color: var(--text-color) !important;
    background-color: var(--main-color) !important;
}
#password-validator-text{
    width: 100%;
    height: 2rem;
    font-size: var(--text-3);
    color: var(--text-red);
}
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: var(--text-3);
    color: var(--text-color-2);
    margin: 20px 0;
}
.divider::before, .divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--text-color-2);
    margin: 0 10px;
}
#other-methods{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: var(--gap);
}
#other-methods > button{
    display: flex;
    padding: .6rem;
    justify-content: center;
    align-items: center;
    gap: .56rem;
    color: var(--text-color);
    outline: 1px solid var(--text-color-2);
}
#other-methods > button > img{
    width: 2rem;
}
#other-methods > button:nth-child(2) > img{
    filter: invert(100%) brightness(100%);
}